{% load static  %}

<link rel="stylesheet" href="{% static 'admin_static/vendors/feather/feather.css' %}">
<link rel="stylesheet" href="{% static 'admin_static/vendors/mdi/css/materialdesignicons.min.css' %}">
<link rel="stylesheet" href="{% static 'admin_static/vendors/ti-icons/css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'admin_static/vendors/typicons/typicons.css' %}">
<link rel="stylesheet" href="{% static 'admin_static/vendors/simple-line-icons/css/simple-line-icons.css' %}">
<link rel="stylesheet" href="{% static 'admin_static/vendors/css/vendor.bundle.base.css' %}">